@font-face {
    font-family: "Gotham light";
    src: url("../fonts/GOTHAM-LIGHT.ttf");
}

@font-face {
  font-family: "Oct of Rejection";
  src: url("../fonts/Act_Of_Rejection.ttf");
}

@font-face {
    font-family: "Gotham light italic";
    src: url("../fonts/GOTHAM-LIGHTITALIC.ttf");
}

