@font-face {
    font-family: "Gotham light";
    src: url("../fonts/gotham-light.ttf");
}

@font-face {
    font-family: "Gotham light italic";
    src: url("../fonts/gotham-lightitalic.ttf");
}

@font-face {
  font-family: "Oct of Rejection";
  src: url("../fonts/Act_Of_Rejection.ttf");
}