@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

@font-face {
    font-family: "Gotham light";
    src: url('../fonts/textos_longos/GOTHAM-LIGHT.ttf');
}

@font-face {
    font-family: "Gotham light italic";
    src: url('../fonts/textos_longos/GOTHAM-LIGHTITALIC.ttf');
}

@font-face {
  font-family: "Oct of Rejection";
  src: url('../fonts/titulos/Act_Of_Rejection.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Gotham light;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
