.initialApp {
  height: 100vh;
  background-image: url('../assets/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.containerHeader {
  padding-top: 25px;
  width: 92%;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containerHeader h1 {
  color: white;
  letter-spacing: 5px;
  font-size: 23px;
  cursor: pointer;
}

.menuMobile {
  width: 32px;
  height: 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.menuMobile span {
  display: block;
  width: 32px;
  height: 5px;
  background-color: black;
  border-radius: 30%;
}

.containerMain {
  margin: 0 auto;
  width: 60%;
  height: 85vh;
  min-height: 510px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.containerMain > img {
  width: 400px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.9);
}

.plataforms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.plataforms h1 {
  text-align: center;
  color: white;
  letter-spacing: 3px;
  font-size: 30px;
}

.plataforms h1 strong {
  font-size: 40px;
  text-shadow: 4px 4px 6px rgba(255,255,255,0.15);
}

.plataforms h2 {
  text-align: center;
  color: white;
  font-size: 15px;
  width: 120px;
  line-height: 25px;
  margin-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.8);
}


.containerPlataforms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


.containerPlataforms img {
  width: 75px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: 0.3s;
}

.containerPlataforms img:hover {
  width: 90px;
}

img.ajuste {
  width: 90px;
}

img.ajuste:hover {
  width: 105px!important;
}

.socialMedia {
  position: absolute;
  top: 50%;
  right: 4%;
  transform: translateY(-50%);
  width: 35px;
}

.containerSocialMedia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 120px;
}

.containerSocialMedia img {
  width: 30px;
  cursor: pointer;
}
.socialMedia img.instagram {
  width: 26px;
  cursor: pointer;
}
.section2 {
  display: flex;
}

.section2 img {
  width: 45vw;
  min-width: 563px;
  min-height: 563px;
}

.containerText {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 400px;
}

.containerContent {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  padding: 20px 40px 20px 20px;
}

.containerContent h1 {
  font-size: 40px;
  letter-spacing: 8px;
  color: #d2394a;
}

.containerContent p {
  font-size: 18px;
  text-align: justify;
}

.containerContent h2 {
  margin-top: 25px;
  color: white;
  font-size: 15px;
  display: flex;
  justify-content: center;
  width: 340px;
  line-height: 32px;
  background-color: #861525;
  letter-spacing: 2px;
}


.footerPage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: #861525;
}

.containerFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  max-width: 1600px;
  padding-left: 20px;
  padding-right: 20px;
}

.containerFooter p {
  color: white;
  font-size: 15px;
  font-family: "Gotham light italic";
}

.containerFooter h1 {
  color: white;
  letter-spacing: 5px;
  font-size: 23px;
  cursor: pointer;
}

@media (max-height: 600px){
  .initialApp {
    height: 600px;
  }
}

@media (max-width: 1080px){
  .initialApp {
    height: 870px;
  }
  .containerMain {
    height: 800px;
    flex-direction: column;
    justify-content: center;
  }
  .containerPlataforms {
    flex-direction: row;
    width: 700px;
  }
}


@media (max-width: 800px){
  .containerPlataforms {
    flex-direction: column;
    width: initial;
  }
}
@media (max-width: 530px){
  .socialMedia {
    display: none;
  }
}

@media (max-width: 430px){
  .containerMain > img {
    width: 100vw;
  }
}

@media (min-width: 1600px){
    .socialMedia {
      right: 10%;
    }
}
@media (max-width: 1075px) {
  .section2 {
    flex-direction: column;
  }
  .section2 img {
    width: 100%;
  }
  .containerText {
    width: 100%;
  }
}